#atalki-main-container .chat {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 60px;
}

#atalki-main-container .chat--header {
  padding: 16px 12px;
}

#atalki-main-container .chat--title {
  font-size: 1.25rem;
  font-weight: bold;
}

#atalki-main-container .chat--list {
  background-color: #fff;
  padding: 24px 20px;
  overflow-y: auto;
}

#atalki-main-container .message {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
  padding: 0 16px 0 0;
}

#atalki-main-container .message-container {
  display: flex;
  align-items: baseline;
}

#atalki-main-container .message-text {
  padding: 12px 16px;
  margin-left: 5px;
  text-align: left;
  color: #fff;
  font-size: 0.94rem;
  min-width: 40px;
  max-width: 100%;
  border-radius: 8px;
  overflow-wrap: break-word;
}

#atalki-main-container .message-owner-img {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border: 2px solid #f1f0f0;
  border-radius: 50%;
}

#atalki-main-container .message-owner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#atalki-main-container .message.end {
  align-items: flex-end;
  padding: 0 0 0 16px;
}

#atalki-main-container .message.end .message-text {
  color: #333;
}

#atalki-main-container .message-container .message-content {
  flex-direction: column;
  align-items: flex-end;
}

#atalki-main-container .message-container .message-date {
  color: #8ca3bb;
  font-size: 0.8rem;
  margin-right: 5px;
}

#atalki-main-container .chat--footer {
  color: #333;
  padding: 16px;
  width: 100%;
  background-color: transparent;
}

#atalki-main-container .chat--footer:first-child {
  flex-grow: 1;
}

#atalki-main-container .chat--footer .footer-btn {
  margin-left: 8px;
  padding: 6px 10px;
}

#atalki-main-container .chat--footer span {
  margin-left: 6px;
}
